.header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.right-container {
    width: 100%;
}

.addTaskInfoBox {
    font-size: 20px;
    color: rgb(13, 49, 255);
    border-radius: 3px;
    padding-left: 15px;
}

.tableStyle {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.m-height {
    max-height: 60px;
}

.firstGap {
    width: 50%;
    text-align: center;
    justify-content: space-between;
    color: rgb(28, 45, 146);
    padding-left: 15px;
}

.secondGap {
    width: 50%;
    text-align: end;
    color: rgb(28, 45, 146);
}

.firstGapRow {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: rgb(28, 45, 146);
}

.secondGapRow {
    width: 50%;
    color: rgb(28, 45, 146);
    margin: auto;
    padding-left: 10px;
}

.rowStyle {
    display: flex;
    background-color: rgba(211, 211, 211, 0.2);
    border-left: 5px solid;
    border-radius: 5px;
    max-height: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.rowStyle:hover {
    cursor: pointer;
}

.profilePicture {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.backlogInfo {
    display: flex;
}

.detailsInfo {
    text-align: end;
    overflow: hidden;
    line-height: 60px;
}

.addToBoardContainer {
    justify-content: flex-end;
    background-color: rgba(211, 211, 211, 0.2);
    border-left: 5px solid;
    border-radius: 0 0 5px 5px;
}

.addToBoardContainer:hover {
    cursor: pointer;
}

.btn-margin {
    margin: 5px;
}

.section {
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

.section:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.4);
}

@media (max-width:870px) {
    .rowStyle {
        overflow: hidden;
        max-height: 150px;
        flex-direction: column;
        align-items: center;
    }

    .firstGapRow {
        flex-direction: column;
        width: unset;
    }

    .detailsInfo {
        line-height: unset;
        text-align: center;
    }

    .secondGapRow {
        width: unset;
        text-align: center;
        padding-left: unset;
    }
}