.kanban-board {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.board-element {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 44px;
    min-width: 288px;
    width: fit-content;
    min-height: 600px;
    border: none;
}

.element-headline {
    margin-top: 8px;
}


.headline-name {
    text-align: center;
    text-transform: uppercase;
}

.sub-card {
    margin-bottom: 8px;
    width: 256px;
    border-radius: 2px;
}

.drag-over {
    background-color: rgba(0, 0, 0, 0.2);
}

.element-content {
    background-color: #F4F3FB;
}

.ticket-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-button {
    display: none;
}

@media (pointer: coarse) {
    .mobile-button {
        display: block;
    }
}

@media(max-width: 1380px) {

    .board-element {
        min-width: 232px;
    }

    .sub-card {
        width: 200px;
    }
}

@media(max-width: 1150px) {

    .kanban-board {
        flex-direction: column;
        margin-top: 28px;
    }

    .board-element {
        padding-left: 8px;
        padding-right: 8px;
        margin: 0px;
        margin-top: 16px;
        ;
        width: 100%;
        min-width: 232px;
        min-height: fit-content;
    }

    .sub-card {
        margin: 4px;
        width: 220px;
    }

    .headline-name {
        text-align: center;
        text-transform: uppercase;
    }

    .element-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {

    .kanban-board {
        margin-top: 0;
    }
}