.impressumStyle {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 75%);
    border-radius: 5px;
}

@media (max-width:560px) {
    .impressumStyle {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width:220px) {
    .impressumStyle {
        padding: 0;
    }
}