body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    background-image: url("../img/login-bg.png");
    background-position: bottom;
    background-size: cover;
}

.card {
    border: 6px solid #02107B;
    background-color: rgba(56, 202, 251, 0.7);
}

.password-info {
    color: red;
}

.login {
    width: 450px;
}