.header {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 25px;
}

.right-container {
    width: 100%;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

.add-task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70vw;
}

.add-task-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

textarea {
    display: flex;
    height: 100px;
    min-width: 450px;
    font-size: 25px;
    resize: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

#add-task-dueDate {
    height: 100px;
    min-width: 450px;
    font-size: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

select {
    height: 100px;
    min-width: 450px;
    font-size: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.add-task-assigned-to {
    min-width: 450px;
    height: 250px;
}

.add-task-margin-bottom {
    margin-bottom: 60px;
}

.add-task-margin-right {
    margin-right: 30px;
}

.add-task-margin-top {
    margin-top: 20px;
}

.add-task-margin-top- {
    margin-top: -40px;
}

.add-task-description-input {
    height: 250px;
}

.profile-pic {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

#icon-plus {
    padding-left: 30px;
}

.add-task-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 60px;
}

.btn {
    height: 50px;
    width: 160px;
}
