.add-task-head {
    margin-top: 16px;
    margin-left: 25px;
}

.add-task-subtitle {
    color: rgb(8, 137, 180);
}

.add-task-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60vw;
}

.add-task-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 88.5vw;
}

input {
    text-align: start;
    height: 100px;
    width: 500px;
    font-size: 20px;
}

select {
    height: 100px;
    width: 500px;
    font-size: 25px;
}

.add-task-assigned-to {
    width: 500px;
    height: 250px;
}

.add-task-margin-bottom {
    margin-bottom: 60px;
}

.add-task-margin-right {
    margin-right: 30px;
}

.add-task-margin-top {
    margin-top: 20px;
}

.add-task-margin-top- {
    margin-top: -40px;
}

.add-task-description-input {
    height: 250px;
}

.profile-pic {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

#icon-plus {
    padding-left: 30px;
}

.add-task-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 60px;
}