.right-container {
    max-width: 2000px;
}

.privacyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.privacyStyle {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

@media (max-width:560px) {
    .privacyStyle {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width:335px) {
    .privacyStyle {
        padding: 0;
    }
}