<div class="bg-blue nav-cont">

    <img class="nav-logo" src="./../img/logo.png">

    <div class="menu-column">
        <div class="menu-row">
            <div class="active-s" id="board0"></div>
            <a href="././board.html" id="board" class="active-font no-deco">Board</a>
        </div>
        <div class="menu-row">
            <div class="active-s inactive-s" id="backlog0"></div>
            <a href="././backlog.html" id="backlog" class=" active-font inactive-font no-deco">Backlog</a>
        </div>
        <div class="menu-row">
            <div class="active-s inactive-s" id="newtask0"></div>
            <a href="././newtask.html" id="newtask" class=" active-font inactive-font no-deco">Add Task</a>
        </div>
        <div class="menu-row">
            <div class="active-s inactive-s" id="help0"></div>
            <a href="././help.html" id="help" class="active-font inactive-font no-deco">Help</a>
        </div>
    </div>
    <img class="user-logo" src="././img/user_dummy.png">
</div>