<nav class="nav-cont">
    <img class="nav-logo" src="././img/logo.png">
    <input type="checkbox" id="toggle_button">
    <label for="toggle_button" class="toggle_button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
    <ul class="menu-column">
        <li class="menu-row">
            <div class="active-s" id="menuBoard0"></div>
            <a href="././board.html" id="menuBoard" class="active-font no-deco">Board</a>
        </li>
        <li class="menu-row">
            <div class="active-s inactive-s" id="menuBacklog0"></div>
            <a href="././backlog.html" id="menuBacklog" class=" active-font inactive-font no-deco">Backlog</a>
        </li>
        <li class="menu-row">
            <div class="active-s inactive-s" id="menuNewTask0"></div>
            <a href="././newtask.html" id="menuNewTask" class=" active-font inactive-font no-deco">Add&nbsp;Task</a>
        </li>
        <li class="menu-row">
            <div class="active-s inactive-s" id="menuHelp0"></div>
            <a href="././help.html" id="menuHelp" class="active-font inactive-font no-deco">Help</a>
        </li>
    </ul>
    <img class="user-logo" src="././img/user_dummy.png">
</nav>